@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-municipality-50: #eef7fb;
  --color-municipality-100: #d9edf5;
  --color-municipality-200: #b8dce9;
  --color-municipality-300: #8bc5d8;
  --color-municipality-400: #4fa4c0;
  --color-municipality-500: #147d9e;
  --color-municipality-600: #00688d;
  --color-municipality-700: #005a7d;
  --color-municipality-800: #004873;
  --color-municipality-900: #003b5f;
  --color-municipality-950: #00283f;
}
